<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213766810265-g066km05itbdk3mvqlvgn0m990t7kvj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213766810265-g066km05itbdk3mvqlvgn0m990t7kvj0</string>
	<key>API_KEY</key>
	<string>AIzaSyDAWdDUypbAt0Rezm54d2Q3lE4PQ0ouGTc</string>
	<key>GCM_SENDER_ID</key>
	<string>213766810265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nomadlyApp</string>
	<key>PROJECT_ID</key>
	<string>nomady-ae4b6</string>
	<key>STORAGE_BUCKET</key>
	<string>nomady-ae4b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213766810265:ios:1a2a0d973a24d81f452608</string>
</dict>
</plist>